body{border:0;overflow-x:hidden;overflow-y:auto;font-family:'Londrina Solid', serif;background-color:#eff0ea;opacity:0;margin:0;padding:0;z-index: -10; position: relative;}
body.no-blog .main,.main_middle{width:1170px;margin:auto;}

.box{z-index: -6; position: relative; overflow: hidden;}
body.boxed .box{margin: auto;box-shadow: 0px 4px 4px 2px rgba(0,0,0,0.5); overflow: hidden;}
body.boxed #header{margin: auto;}
body.no-blog.boxed .box{width: 1300px;}
body.no-blog.boxed #header{width: 1300px;}

a{text-decoration: none;}
.container{position:relative;text-align:center;}
.body_background{position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -10;-webkit-transform: translateZ(0);-o-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);transform: translateZ(0);}
#header:before{content:'';z-index:-1;width:100%;height:65%;background-color:#eff0ea;display:block;position:absolute;}
#header:after{content:'';z-index:-1;width:100%;height:35.5%;background-color:#5ea281;display:block;position:absolute;bottom:0;}
#header{width:100%;height:1080px;}

.header{width:100%;height:150px;padding-top:85px;padding-bottom:114px;}
.header ul{list-style:none;text-align:center;margin:0;padding:0;}
.header ul li{display:inline-block;vertical-align:middle;font-weight:800;color:#000;font-size:12px;width:50px;text-transform:uppercase;letter-spacing:3px;margin:0 50px;}
.header ul li a{color:#000;text-decoration:none;-webkit-transition:all linear .2s;-moz-transition:all linear .2s;-o-transition:all linear .2s;transition:all linear .2s;-ms-transition:all linear .2s;}
.header .logo{height:150px;width:auto;}
.logo h3{margin:30px 0 0;}
.logo h5{margin: 10px 0 20px;}
.logo h6{margin:15px 0 0;}

/**************************** Fonts **************************/
h1{font-size: 90px; font-weight: 800; text-transform:uppercase; margin-top: 0; margin-bottom: 45px;}
h2{font-size: 36px; font-weight: 800; margin-bottom: 20px; margin-top: 0;}
h3{font-size: 30px; font-weight: 800; text-transform:uppercase; letter-spacing: 6px;}
h4{font-size: 24px; font-weight: 700; text-transform: uppercase; letter-spacing: 8px; margin-top: 0;}
h4.light{font-size: 24px; font-weight: 300; text-transform:none; letter-spacing: 0.5px;}
h4.light b{text-transform:uppercase; font-weight: 800;}
h5{font-size: 18px; text-transform: uppercase; }
h6{font-size: 10px; text-transform: uppercase; letter-spacing: 4px;}
.content.large{font-size: 16px; line-height: 24px; font-weight: 300;}
.white{color: #fff !important;}
.gray{color: #8b8b8b !important;}
.black{color: #000 !important;}
.brown{color: #736731 !important;}
.custom_text{font-size:24px;color:#232121;text-align:center;}
ul{list-style:none;}
/**************************** /Fonts **************************/

/**************************** Tabs **************************/
#tabs{display:block;}
.tabs{padding-top:60px;padding-bottom:60px;}
.tabs h4{font-weight:500;margin:10px 0 20px;}
.tabs .active{display:block!important;}
.tabs .tab{display:none;}
.tabs_name{height:80px;;width:100%;text-align:center;display:inline-table;}
.tabs_name .active{background-color:#eff0ea;color:#474e5d;}
.tabs_name li{color:#fff;font-size:13px;text-transform:uppercase;display:inline-block;background-color:#a7d692;font-weight:700;border-radius:10px 10px 0 0;cursor:pointer;margin:0 5px;padding:18px 30px;}
.tabs_name ul{vertical-align:bottom;display:table-cell;margin:auto;padding:0;}
.tabs .tab .title{color:#8b8b8b;font-size:16px;line-height:24px;padding-bottom:60px;}
/**************************** /Tabs **************************/

/**************************** Button **************************/
.button{font-size:30px;color:#fff;font-weight:700;text-transform:uppercase;background-color:#6fcbda;margin-bottom:60px;display:inline-block;position:relative;-webkit-transition:all linear .1s;-moz-transition:all linear .1s;-o-transition:all linear .1s;transition:all linear .1s;-ms-transition:all linear .1s;padding:25px 55px;}
.button::after{content:'';height:26px;border-top:26px solid #227684;border-right:60px solid transparent;position:absolute;right:-60px;bottom:-26px;}
.button:hover{color:#2f9aac;}
.button.anim{}
/**************************** /Button **************************/

/**************************** Scene 1 **************************/
#scene_1{height:524px;width:100%;position:relative;}
#scene_1 .item:nth-child(1){height: 14.5%;left: 10%;top: 52%;}
#scene_1 .item:nth-child(3){height: 9.7%; left: 80%; top: 57%;}
#scene_1 .item{position:absolute;}
#scene_1 #items{width:635px;height:524px;position:relative;margin:auto;}
#scene_1 #items div{position:absolute;overflow:hidden;}
#scene_1 #items div img{ -webkit-transition:all linear 1s; -moz-transition:all linear 1s; -ms-transition:all linear 1s; -o-transition:all linear 1s; transition:all linear 1s;}
#scene_1 #items div:nth-child(1){width:480px;height:480px;left:75px;z-index:5;bottom:75px;}
#scene_1 #items div:nth-child(2){width:632px;height:391px;left:0;z-index:4;bottom:50px;}
#scene_1 #items div:nth-child(3){width:283px;height:201px;left:-400px;z-index:4;bottom:102px;}
#scene_1 #items div:nth-child(4){width:231px;height:143px;left:-300px;z-index:4;bottom:80px;}
#scene_1 #items div:nth-child(5){width:283px;height:201px;right:-550px;z-index:4;bottom:85px;}
#scene_1 #items div:nth-child(1) img{ -moz-transform: rotateY(90deg) translateZ(-220px); -ms-transform: rotateY(90deg) translateZ(-220px); -webkit-transform: rotateY(90deg) translateZ(-220px); -o-transform: rotateY(90deg) translateZ(-220px); transform: rotateY(90deg) translateZ(-220px);}
#scene_1 #items div:nth-child(2) img{ -moz-transform:rotateY(90deg) translateZ(20px); -ms-transform:rotateY(90deg) translateZ(20px); -webkit-transform:rotateY(90deg) translateZ(20px); -o-transform:rotateY(90deg) translateZ(20px); transform:rotateY(90deg) translateZ(20px);}
#scene_1 #items div:nth-child(4) img{ -moz-transform:rotateY(90deg) translateZ(-60px); -ms-transform:rotateY(90deg) translateZ(-60px); -webkit-transform:rotateY(90deg) translateZ(-60px); -o-transform:rotateY(90deg) translateZ(-60px); transform:rotateY(90deg) translateZ(-60px); }
#scene_1 #items div:nth-child(3) img,#scene_1 #items div:nth-child(5) img{ -moz-transform:rotateY(90deg) translateZ(-64px); -ms-transform:rotateY(90deg) translateZ(-64px); -webkit-transform:rotateY(90deg) translateZ(-64px); -o-transform:rotateY(90deg) translateZ(-64px); transform:rotateY(90deg) translateZ(-64px); } 

.boxed #scene_1 #items div:nth-child(3){left: -320px;}
.boxed #scene_1 #items div:nth-child(4){left: -230px;}
.boxed #scene_1 #items div:nth-child(5){right: -450px;}

#airplane{position:absolute;display:block;left:-2000px;width:90px; -webkit-transform: rotate(5deg); -moz-transform: rotate(5deg); -ms-transform: rotate(5deg); -o-transform: rotate(5deg);  transform: rotate(5deg); } 
.travel #airplane{-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg);  transform: rotate(0deg); } 
#cl_1{top:45%;background:url(../images/scene/2.png) repeat-y;}
#cl_2{top:30%;background:url(../images/scene/3.png) repeat-y;}
#cl_3{top:15%;background:url(../images/scene/4.png) repeat-y;z-index:4;}
#cl_4{top:-8%;background:url(../images/scene/5.png) repeat-y;}
.clouds div{position:absolute;height:50px;width:160px;overflow:hidden;z-index:2;}
/**************************** /Scene 1 **************************/

/**************************** Color Scheme **************************/
.beige{background-color: #eff0ea;}
.cadetblue{background-color: #2f9aac;}
.seagreen{background-color: #53acbb !important;}
.skyblue{background-color: #74c2ce;}
.cornsilk{background-color: #fcfcf7;}
.darkseagreen{background-color: #5ea281;}
.yellowgreen{background-color: #a7d692;}
.darkcyan{background-color: #3faa96;}
.khaki{background-color: #f2de83;}
.ivory{background-color: #fdf7e2;}
.wheat{background-color: #d9c593;}
.salmon{background-color: #df574b  !important;}
.indianred{background-color: #cb483e;}
/**************************** /Color Scheme **************************/

/**************************** Custom panel **************************/
.pattern1{background: url(../images/custom/pattern1.jpg) repeat;}
.pattern2{background: url(../images/custom/pattern2.jpg) repeat;}
.pattern3{background: url(../images/custom/pattern3.jpg) repeat;}
.pattern4{background: url(../images/custom/pattern4.jpg) repeat;}
.pattern5{background: url(../images/custom/pattern5.jpg) repeat;}
.pattern6{background: url(../images/custom/pattern6.jpg) repeat;}

.background1{background: url(../images/custom/bg1.jpg) no-repeat; background-size:  2000px; background-position: center;}
.background2{background: url(../images/custom/bg2.jpg) no-repeat; background-size:  2000px; background-position: center;}
.background3{background: url(../images/custom/bg3.jpg) no-repeat; background-size:  2000px; background-position: center;}
.background4{background: url(../images/custom/bg4.jpg) no-repeat; background-size:  2000px; background-position: center;}
.background5{background: url(../images/custom/bg5.jpg) no-repeat; background-size:  2000px; background-position: center;}
.background6{background: url(../images/custom/bg6.jpg) no-repeat; background-size:  2000px; background-position: center;}

.panelbutton{ z-index: 10; width: 0px; height: 0px; border-top: 75px solid #bebeb1; border-left: 75px solid transparent; position: absolute; top: 0; right: 0; cursor: pointer; }
.panelbutton:after{content: ''; width: 14px; height: 14px; background: url(../images/custom/close1.png); position: relative; display: block; top: -58px; right: 29px;-webkit-transition:all linear .2s; -moz-transition:all linear .2s; -o-transition:all linear .2s; -ms-transition:all linear .2s; transition:all linear .2s;}
.panelbutton:hover:after{transform:scale(1.3);-ms-transform: scale(1.3); -webkit-transform: scale(1.3); -o-transform: scale(1.3); -moz-transform: scale(1.3);}
.panel{display: none;height: 260px; width: 100%; background-color: #fff; position: absolute; top:0; left: 0px;z-index: 10;border-radius: 0 0 10px 10px;}
.panel:after{ content: ''; position: relative; height: 7px; display: block; background-color: #bebeb1; z-index: 10; border-radius: 0 0 10px 10px; bottom: -7px; margin: 0 5px; margin-top: -8px;}
.panel .columns{margin: auto; text-align: center;display: block;}
.panel .columns .item{display: inline-block; width: 300px; height: 100%; padding-top: 60px;height: 200px; vertical-align: top;border-right: 1px solid #bebeb1;}
.panel .columns .item:last-child{border:none;}
.panel .columns .item .title{margin-bottom: 20px;color: #000; font-size: 12px; text-transform: uppercase; letter-spacing: 3px; font-weight: 600;}
.panel .columns .item  ul{margin: auto;}
.panel .columns .item.homepages  ul li {margin-top: 10px;}
.panel .columns .item.homepages  ul li a{color: #a5a599; font-size: 12px;margin: auto;  text-transform: uppercase; font-weight: 600; background-color: #eff0ea; width: 150px; text-align: center; padding: 10px; display: block;-webkit-transition:all linear .2s;-moz-transition:all linear .2s;-o-transition:all linear .2s;transition:all linear .2s;-ms-transition:all linear .2s;}
.panel .columns .item.homepages  ul li a.active{background-color: #74c2ce; color: #fff;}
.panel .columns .item.homepages  ul li a:hover{background-color: #74c2ce; color: #fff;}

.panel .columns .item.patterns ul, .panel .columns .item.background ul{width: 220px;}
.panel .columns .item.patterns ul li div, .panel .columns .item.background ul li div{height: 55px; width: 55px; cursor: pointer;border: 2px solid #fff;}
.panel .columns .item.background ul li div{background-size: auto 400%;}
.panel .columns .item.patterns ul li div.active, .panel .columns .item.background ul li div.active{border: 2px solid #74c2ce;}
.panel .columns .item.patterns ul li div:hover, .panel .columns .item.background ul li div:hover{ border: 2px solid #74c2ce;}
.panel .columns .item.patterns ul li, .panel .columns .item.background ul li{display: inline-block; margin: 2px;}

.panel .columns .item.layout  .title { margin-bottom: 45px;}
.panel .columns .item.layout  div span{cursor: pointer;color: #a5a599; font-size: 12px;margin: auto;  text-transform: uppercase; font-weight: 600; background-color: #eff0ea; width: 75px; text-align: center; padding: 10px; display: inline-block;-webkit-transition:all linear .2s;-moz-transition:all linear .2s;-o-transition:all linear .2s;transition:all linear .2s;-ms-transition:all linear .2s;}
.panel .columns .item.layout  div span.active{background-color: #74c2ce; color: #fff;}
.panel .columns .item.layout  div span:hover{background-color: #74c2ce; color: #fff;}

.panel .columns .item .reset{margin-bottom: 20px;color: #000; font-size: 12px; display: block; text-transform: uppercase; letter-spacing: 3px; font-weight: 600;margin-bottom: 45px;}
.panel .columns .item .reset:before{content:''; width: 21px; height: 12px; background: url(../images/custom/res.png);display: inline-block; margin-right: 2px;vertical-align: bottom;}
.panel .columns .item .apply{color: #fff; font-size: 12px;margin: auto;  text-transform: uppercase; display: block;font-weight: 600; background-color: #74c2ce; width: 110px; text-align: center; padding: 10px;-webkit-transition:all linear .2s;-moz-transition:all linear .2s;-o-transition:all linear .2s;transition:all linear .2s;-ms-transition:all linear .2s;}
.panel .columns .item .apply:hover{background-color: #eff0ea; color: #a5a599;}
.panel .close{width: 0px; height: 0px; border-top: 75px solid #eff0ea; border-left: 75px solid transparent; position: absolute; top: 0; right: 0; cursor: pointer;}
.panel .close:after{content: ''; width: 14px; height: 14px; background: url(../images/custom/close.png); position: relative; display: block; top: -58px; right: 29px;-webkit-transition:all linear .2s; -moz-transition:all linear .2s; -o-transition:all linear .2s; -ms-transition:all linear .2s; transition:all linear .2s;} 
.panel .close:hover:after{transform:scale(1.3);-ms-transform: scale(1.3); -webkit-transform: scale(1.3); -o-transform: scale(1.3); -moz-transform: scale(1.3);}
.custom_overflow{z-index: 9;position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.3;-webkit-transform: translateZ(0);-o-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);transform: translateZ(0);}

.custom-tooltip {
    background-color: rgba(255, 255, 255, 0.7); /*Latar belakang semi-transparan */
    border: 1px solid #333; /*Garis tepi */
    border-radius: 3px; /* Sudut membulat */
    padding: 2px 5px; /* Padding */
    font-size: 12px; /* Ukuran font */
    color: #000; /* Warna teks */
    max-width: 250px;
    word-wrap: break-word;
    overflow: hidden; /* Sembunyikan konten yang keluar */
    text-overflow: ellipsis; /* Tambahkan "..." jika teks terlalu panjang */
    white-space: normal; /* Pastikan teks menggunakan baris baru jika panjang */
    pointer-events: none;
}

.tooltip-image {
    width: 100%;
    min-width: 250px;
    max-height: 250px;
    object-fit: cover;
    margin-bottom: 5px;
}

#begrussung button {
    position: absolute; 
    top: 2.5%; 
    right: 4%; 
    z-index: 1; 
    background: none; 
    border: none; 
    color: white; 
    cursor: pointer; 
    max-width: 16%; 
    max-height: 20%;
}

#begrussung button a {
    color:transparent; 
    text-decoration: none; 
    font-size: 2.5vw;
}

#sich-vorstellen button {
    position: absolute;
     top: 2.5%; 
     left: 17%; 
     z-index: 1; 
     background: none; 
     border: none; 
     color: white; 
     cursor: pointer; 
     max-width: 16%; 
     max-height: 20%;
}

#sich-vorstellen button a {
    color:transparent; 
    text-decoration: none; 
    font-size: 2.5vw;
}

#das-alphabet ul {
    display: flex; flex-wrap: wrap; justify-content: space-around; padding:0; margin: 0 5.25% 0 8%;
    position: absolute; 
    top: 16%; 
    right: 4%;
    z-index: 1; 
    background: none; 
    border: none; 
    color: white; 
    cursor: pointer;
}
.post_sdb .sharing ul li{text-align: center; width: 85px; margin:0 5px 13%;cursor:pointer;-webkit-transition:all linear .05s;-moz-transition:all linear.05s;-o-transition:all linear.05s;transition:all linear .05s;-ms-transition:all linear.05s;}
/* .post_sdb .sharing ul li:hover{transform:scale(1.05);-ms-transform:scale(1.05);-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-o-transform:scale(1.05);}
.post_sdb .sharing ul li:hover span{box-shadow:1px 2px 0 1px rgba(175,175,161,0.8);} */
.post_sdb .sharing ul li span{font-size:14px;color:transparent;font-weight:700;background-color:none;vertical-align:middle;border-radius:0 5px 5px 0;-webkit-transition:all linear .2s;-moz-transition:all linear .2s;-o-transition:all linear .2s;transition:all linear .2s;-ms-transition:all linear .2s; padding:10px;}
.post_sdb .sharing ul li span.icon{font-size:16px;background-color:none;border-radius:5px;padding:20px 35px;}

@media (max-width: 1024px) {
    #begrussung button {
        top: 2%;
        right: 4%;
        max-width: 15%;
        max-height: 10%;
    }

    #begrussung button a {
        font-size: 2vw;
    }

    #sich-vorstellen button {
        top: 3%;
        left: 17%;
        max-width: 15%;
        max-height: 11%;
    }

    #sich-vorstellen button a {
        font-size: 2vw;
    }

    #das-alphabet ul {
        top: 15.5%;
        right: 4%;
        margin: 0 5.25% 0 8%;
    }

    .post_sdb .sharing ul li {
        width: 50px;
        margin: 0 4px 12%;
    }

    .post_sdb .sharing ul li span {
        font-size: 13px;
        padding: 9px;
    }

    .post_sdb .sharing ul li span.icon {
        font-size: 15px;
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    #begrussung button {
        top: 2%;
        right: 5%;
        max-width: 14%;
        max-height: 10%;
    }

    #begrussung button a {
        font-size: 1.4vw;
    }

    #sich-vorstellen button {
        top: 2%;
        left: 16%;
        max-width: 16%;
        max-height: 11%;
    }

    #sich-vorstellen button a {
        font-size: 1.4vw;
    }

    #das-alphabet ul {
        top: 15.5%;
        right: 2%;
        margin: 0 7% 0 8%;
    }

    .post_sdb .sharing ul li {
        width: 30px;
        margin: 0 2px 9.5%;
    }

    .post_sdb .sharing ul li span {
        font-size: 12px;
        padding: 8px;
    }

    .post_sdb .sharing ul li span.icon {
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media (max-width: 480px) {
    #begrussung button {
        top: 2%;
        right: 5%;
        max-width: 14%;
        max-height: 10%;
    }

    #begrussung button a {
        font-size: 2vw;
    }

    #sich-vorstellen button {
        top: 2%;
        left: 16%;
        max-width: 16%;
        max-height: 12%;
    }

    #sich-vorstellen button a {
        font-size: 2vw;
    }

    /* #das-alphabet ul {
        top: 15.5%;
        right: 2%;
        margin: 0 1% 0 3%;
    } */

    /* .post_sdb .sharing ul li {
        width: 60px;
        margin: 0 2px 8%;
    }

    .post_sdb .sharing ul li span {
        font-size: 10px;
        padding: 6px;
    }

    .post_sdb .sharing ul li span.icon {
        font-size: 12px;
        padding: 10px 20px;
    } */
}